<div class="jumbotron view mask rgba-blue-light card-image">
    <div class="text-white mask rgba-blue-light pattern-1 text-center py-5 px-4">
        <div>
            <div class="container-fluid">
                <h1 id="title">NEWS COLLECTION</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-xl-12">
                        <p class="mx-5 mb-5">Search the latest news in a variety of topics and save to your account</p>
                    </div>
                    <div class="col-xs-12 col-md-6 col-xl-6 vertical">
                        <p class="subheading">Brought to you by:</p>
                        <img src="/assets/images/The_New_York_Times_Logo.png" alt="The New York Times Logo">
                        <img src="/assets/images/The_Guardian_logo_logotype.png" alt="The New York Times Logo">

                    </div>
                    <div class="vertical col-xs-12 col-md-6 col-xl-6">
                        <a href="/search" class="btn btn-white btn-md"><i class="fas mr-2 fa-search"></i>Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>